@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital@1&display=swap');
body{
    background-color: #edeaff;
    font-family: 'Courier Prime', monospace;

}
.stopwatch{
    width: 98%;
    max-width: 600px;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(228, 198, 198, 0.8)),url(background.jpeg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 40px 0;
    color: #edeaff;
    margin: 200px, auto 0;
    box-shadow: 0 10px 10px ;


}
.stopwatch h1{
    margin: 60px;
    font-size: 64px;
    font-weight: 300;
}
.a{
    height: 40px;
    width: 80px;
    border: 2px solid black;
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ef1a0b;
    border-radius: 20px;
}
.b{
    height: 40px;
    width: 80px;
    border: 2px solid black;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px ;
    background-color: #ef1a0b;
    border-radius: 20px;
}
.c{
    height: 40px;
    width: 80px;
    border: 2px solid black;
    color: black;
    font-size: 20px ;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ef1a0b;
    border-radius: 20px;
}